In [11]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg
spark = SparkSession.builder.appName('722').getOrCreate()

In [2]:
# Import dataset by using pandas
import pandas as pd

crime_data_pd=pd.read_excel("Crime.xlsx")
education_data_pd=pd.read_excel("Education.xlsx")

#Transfer pandas dataframe to spark dataframe
crime_data= spark.createDataFrame(crime_data_pd)
education_data= spark.createDataFrame(education_data_pd)

In [3]:
#2 Data Understanding
#2.2 Data Decription
crime_data.show()
education_data.show()

+--------------+----+-----------------------------------+-------------------------------------+-----------------------------------+-----------------------------------------------------+------------------------------------+
|        Region|year|Total amount of convicted juveniles|Total amount of family violence cases|Total amount of people with charges|Total amount of harmful digital communication offense|Total amount of drugs offences cases|
+--------------+----+-----------------------------------+-------------------------------------+-----------------------------------+-----------------------------------------------------+------------------------------------+
|     Northland|2014|                                123|                                  692|                               4335|                                                  NaN|                                 339|
|     Northland|2015|                                138|                                  817|                               4528|                                                  0.0|                                 341|
|     Northland|2016|                                117|                                  772|                               4435|                                                  0.0|                                 403|
|     Northland|2017|                                114|                                  695|                               3964|                                                  0.0|                                 326|
|     Northland|2018|                                102|                                  633|                               3937|                                                  2.0|                                 344|
|     Northland|2019|                                 63|                                  722|                               3476|                                                  6.0|                                 359|
|     Northland|2020|                                 69|                                  752|                               3719|                                                  4.0|                                 362|
|     Northland|2021|                                 66|                                  640|                               3092|                                                  2.0|                                 242|
|     Northland|2022|                                 75|                                  648|                               3217|                                                  3.0|                                 236|
|      Auckland|2014|                                123|                                  885|                               7870|                                                  NaN|                                 781|
|      Auckland|2015|                                120|                                  902|                               7398|                                                  0.0|                                 723|
|      Auckland|2016|                                 87|                                  961|                               7472|                                                  4.0|                                 669|
|      Auckland|2017|                                 78|                                  851|                               6806|                                                  3.0|                                 741|
|      Auckland|2018|                                 66|                                  859|                               7149|                                                  3.0|                                 671|
|      Auckland|2019|                                 63|                                  898|                               6169|                                                  4.0|                                 655|
|      Auckland|2020|                                 69|                                  929|                               5889|                                                  8.0|                                 638|
|      Auckland|2021|                                 72|                                  711|                               4113|                                                 10.0|                                 468|
|      Auckland|2022|                                 87|                                  944|                               5968|                                                 11.0|                                 530|
|South Auckland|2014|                                291|                                 1422|                              11409|                                                  NaN|                                 632|
|South Auckland|2015|                                297|                                 1484|                              10484|                                                  0.0|                                 565|
+--------------+----+-----------------------------------+-------------------------------------+-----------------------------------+-----------------------------------------------------+------------------------------------+
only showing top 20 rows

+--------------+----+-----------------------+------------------------+-------------------------------------------+---------------------+-----------------------------------------------+
|        Region|year|Total amount of schools|Total amount of Students|Total amount of student attending regularly|Mean household income|Participation in ECE(early childhood education)|
+--------------+----+-----------------------+------------------------+-------------------------------------------+---------------------+-----------------------------------------------+
|     Northland|2014|                  151.0|                 22169.0|                                  12946.696|              66248.0|                                         7028.0|
|     Northland|2015|                  152.0|                 20037.0|                         12162.458999999999|              68880.0|                                         6939.0|
|     Northland|2016|                  152.0|                 22336.0|                         12485.823999999999|              73469.0|                                         7200.0|
|     Northland|2017|                  151.0|                 25271.0|                                  12862.939|              75326.0|                                         7422.0|
|     Northland|2018|                  151.0|                 27762.0|                                  14241.906|              78137.0|                                         7316.0|
|     Northland|2019|                  151.0|                 23818.0|                                  13004.628|              83350.0|                                         7113.0|
|     Northland|2020|                  151.0|                 27261.0|                         13139.802000000001|              88294.0|                                         6850.0|
|     Northland|2021|                  151.0|                 27914.0|                                  14180.312|              93714.0|                                         7455.0|
|     Northland|2022|                  153.0|                 26997.0|                          9097.989000000001|              96383.0|                                         6696.0|
|      Auckland|2014|                  420.0|                205120.0|                                   144609.6|             103371.0|                                        50531.0|
|      Auckland|2015|                  423.0|                215416.0|                                 153807.024|             107941.0|                                        53068.0|
|      Auckland|2016|                  422.0|                213974.0|                                  145502.32|             115091.0|                                        53632.0|
|      Auckland|2017|                  427.0|                217608.0|                         137310.64800000002|             118097.0|                                        54040.0|
|      Auckland|2018|                  428.0|                244289.0|                         159032.13899999997|             122266.0|                                        53422.0|
|      Auckland|2019|                  430.0|                215690.0|                                  139551.43|             128169.0|                                        53474.0|
|      Auckland|2020|                  431.0|                244549.0|                                 145751.204|             135414.0|                                        50125.0|
|      Auckland|2021|                  430.0|                226245.0|                                 152715.375|             140771.0|                                        50724.0|
|      Auckland|2022|                  433.0|                235595.0|                                 108138.105|             151179.0|                                        47115.0|
|South Auckland|2014|                  120.0|                 11613.0|                                   7478.772|                  NaN|                                        13921.0|
|South Auckland|2015|                  122.0|                 12343.0|                                   7837.805|                  NaN|                                        14380.0|
+--------------+----+-----------------------+------------------------+-------------------------------------------+---------------------+-----------------------------------------------+
only showing top 20 rows

In [4]:
#2.3 Data exploration/Display value for each column

def group_and_sum(dataframe, columns):
    for column in columns:
        dataframe.groupBy("Region").sum(column).show()


crime_columns = [
    "Total amount of convicted juveniles",
    "Total amount of family violence cases",
    "Total amount of drugs offences cases",
    "Total amount of people with charges",
    "Total amount of harmful digital communication offense"
]

education_columns = [
    "Total amount of schools",
    "Total amount of Students",
    "Total amount of student attending regularly",
    "Participation in ECE(early childhood education)",
    "Mean household income"
]


group_and_sum(crime_data, crime_columns)
group_and_sum(education_data, education_columns)

+--------------------+----------------------------------------+
|              Region|sum(Total amount of convicted juveniles)|
+--------------------+----------------------------------------+
|          Wellington|                                     186|
|            Auckland|                                     765|
|             Waikato|                                    1221|
|      South Auckland|                                    1833|
|               Otago|                                     495|
|       Bay of Plenty|                                     846|
|          Canterbury|                                    1371|
|           Northland|                                     867|
|           Southland|                                     456|
|Nelson/Marlboroug...|                                     528|
|           Waitematā|                                    1113|
|  Taranaki/Whanganui|                                     738|
|            Waiariki|                                    1050|
|  Manawatū/Wairarapa|                                     792|
| Northern Wellington|                                     717|
|          East Coast|                                    1131|
+--------------------+----------------------------------------+

+--------------------+------------------------------------------+
|              Region|sum(Total amount of family violence cases)|
+--------------------+------------------------------------------+
|          Wellington|                                      3608|
|            Auckland|                                      7940|
|             Waikato|                                      9339|
|      South Auckland|                                     14003|
|               Otago|                                      5590|
|       Bay of Plenty|                                      8221|
|          Canterbury|                                      9518|
|           Northland|                                      6371|
|           Southland|                                      4108|
|Nelson/Marlboroug...|                                      4560|
|           Waitematā|                                      7180|
|  Taranaki/Whanganui|                                      6528|
|            Waiariki|                                      8290|
|  Manawatū/Wairarapa|                                      7212|
| Northern Wellington|                                      6194|
|          East Coast|                                      9794|
+--------------------+------------------------------------------+

+--------------------+-----------------------------------------+
|              Region|sum(Total amount of drugs offences cases)|
+--------------------+-----------------------------------------+
|          Wellington|                                     2129|
|            Auckland|                                     5876|
|             Waikato|                                     4212|
|      South Auckland|                                     5001|
|               Otago|                                     1705|
|       Bay of Plenty|                                     3472|
|          Canterbury|                                     5288|
|           Northland|                                     2952|
|           Southland|                                     1392|
|Nelson/Marlboroug...|                                     2381|
|           Waitematā|                                     3967|
|  Taranaki/Whanganui|                                     2433|
|            Waiariki|                                     3127|
|  Manawatū/Wairarapa|                                     2728|
| Northern Wellington|                                     2119|
|          East Coast|                                     3696|
+--------------------+-----------------------------------------+

+--------------------+----------------------------------------+
|              Region|sum(Total amount of people with charges)|
+--------------------+----------------------------------------+
|          Wellington|                                   17936|
|            Auckland|                                   58834|
|             Waikato|                                   54604|
|      South Auckland|                                   82751|
|               Otago|                                   24861|
|       Bay of Plenty|                                   40550|
|          Canterbury|                                   60641|
|           Northland|                                   34703|
|           Southland|                                   22055|
|Nelson/Marlboroug...|                                   24630|
|           Waitematā|                                   52897|
|  Taranaki/Whanganui|                                   30108|
|            Waiariki|                                   34095|
|  Manawatū/Wairarapa|                                   32793|
| Northern Wellington|                                   29645|
|          East Coast|                                   43688|
+--------------------+----------------------------------------+

+--------------------+----------------------------------------------------------+
|              Region|sum(Total amount of harmful digital communication offense)|
+--------------------+----------------------------------------------------------+
|          Wellington|                                                       NaN|
|            Auckland|                                                       NaN|
|             Waikato|                                                       NaN|
|      South Auckland|                                                       NaN|
|               Otago|                                                       NaN|
|       Bay of Plenty|                                                       NaN|
|          Canterbury|                                                       NaN|
|           Northland|                                                       NaN|
|           Southland|                                                       NaN|
|Nelson/Marlboroug...|                                                       NaN|
|           Waitematā|                                                       NaN|
|  Taranaki/Whanganui|                                                       NaN|
|            Waiariki|                                                       NaN|
|  Manawatū/Wairarapa|                                                       NaN|
| Northern Wellington|                                                       NaN|
|          East Coast|                                                       NaN|
+--------------------+----------------------------------------------------------+

+--------------------+----------------------------+
|              Region|sum(Total amount of schools)|
+--------------------+----------------------------+
|          Wellington|                      2221.0|
|            Auckland|                      3844.0|
|             Waikato|                      1269.0|
|      South Auckland|                      1102.0|
|               Otago|                      1307.0|
|       Bay of Plenty|                      1444.0|
|          Canterbury|                      2622.0|
|           Northland|                      1363.0|
|           Southland|                       755.0|
|Nelson/Marlboroug...|                      1155.0|
|           Waitematā|                         NaN|
|  Taranaki/Whanganui|                       844.0|
|            Waiariki|                         NaN|
|  Manawatū/Wairarapa|                      1793.0|
| Northern Wellington|                         NaN|
|          East Coast|                         NaN|
+--------------------+----------------------------+

+--------------------+-----------------------------+
|              Region|sum(Total amount of Students)|
+--------------------+-----------------------------+
|          Wellington|                     640185.0|
|            Auckland|                    2018486.0|
|             Waikato|                     600440.0|
|      South Auckland|                     109471.0|
|               Otago|                     247768.0|
|       Bay of Plenty|                     433199.0|
|          Canterbury|                     704790.0|
|           Northland|                     223565.0|
|           Southland|                     132221.0|
|Nelson/Marlboroug...|                      56985.0|
|           Waitematā|                          NaN|
|  Taranaki/Whanganui|                     166295.0|
|            Waiariki|                          NaN|
|  Manawatū/Wairarapa|                     305959.0|
| Northern Wellington|                          NaN|
|          East Coast|                          NaN|
+--------------------+-----------------------------+

+--------------------+------------------------------------------------+
|              Region|sum(Total amount of student attending regularly)|
+--------------------+------------------------------------------------+
|          Wellington|                              413768.33999999997|
|            Auckland|                              1286417.8450000002|
|             Waikato|                                      351773.806|
|      South Auckland|                               59098.83899999999|
|               Otago|                              165335.59900000002|
|       Bay of Plenty|                              255676.36899999998|
|          Canterbury|                              464899.91500000004|
|           Northland|                              114122.55500000001|
|           Southland|                                       85321.336|
|Nelson/Marlboroug...|                                       36133.513|
|           Waitematā|                                             0.0|
|  Taranaki/Whanganui|                              102434.43699999999|
|            Waiariki|                                             0.0|
|  Manawatū/Wairarapa|                                      190859.555|
| Northern Wellington|                                             0.0|
|          East Coast|                                             0.0|
+--------------------+------------------------------------------------+

+--------------------+----------------------------------------------------+
|              Region|sum(Participation in ECE(early childhood education))|
+--------------------+----------------------------------------------------+
|          Wellington|                                            181588.0|
|            Auckland|                                            466131.0|
|             Waikato|                                            168797.0|
|      South Auckland|                                            133574.0|
|               Otago|                                             74702.0|
|       Bay of Plenty|                                            143725.0|
|          Canterbury|                                            212662.0|
|           Northland|                                             64019.0|
|           Southland|                                             32229.0|
|Nelson/Marlboroug...|                                             59852.0|
|           Waitematā|                                                 NaN|
|  Taranaki/Whanganui|                                            119128.0|
|            Waiariki|                                                 NaN|
|  Manawatū/Wairarapa|                                             90144.0|
| Northern Wellington|                                                 NaN|
|          East Coast|                                                 NaN|
+--------------------+----------------------------------------------------+

+--------------------+--------------------------+
|              Region|sum(Mean household income)|
+--------------------+--------------------------+
|          Wellington|                 1159778.0|
|            Auckland|                 1122299.0|
|             Waikato|                  907141.0|
|      South Auckland|                       NaN|
|               Otago|                  786341.0|
|       Bay of Plenty|                  807199.0|
|          Canterbury|                       NaN|
|           Northland|                  723801.0|
|           Southland|                       NaN|
|Nelson/Marlboroug...|         780761.3333333334|
|           Waitematā|                       NaN|
|  Taranaki/Whanganui|                  800222.0|
|            Waiariki|                       NaN|
|  Manawatū/Wairarapa|                  834534.0|
| Northern Wellington|                       NaN|
|          East Coast|                       NaN|
+--------------------+--------------------------+

In [5]:
#2.4 Data Quality
#2.4.1 Calculate Missing Value
record_crime_data=crime_data_pd.isna()
record_education_data=education_data_pd.isna()

def counting_missing_value(dataframe):
    count = 0
    for column in dataframe.columns:
        count += dataframe[column].sum()
    return count

print(counting_missing_value(record_crime_data))
print(counting_missing_value(record_education_data))

16
157

In [6]:
#3 Data Preparation
#3.1 Data selection
#checking basic info for dataset and each column, crime dataset first
crime_data_pd.describe()

,year,Total amount of convicted juveniles,Total amount of family violence cases,Total amount of people with charges,Total amount of harmful digital communication offense,Total amount of drugs offences cases
count,144.000000,144.000000,144.000000,144.000000,128.000000,144.000000
mean,2018.000000,97.979167,822.611111,4477.715278,5.015625,364.430556
std,2.591001,50.115736,292.376975,1996.337747,4.186563,156.661260
min,2014.000000,9.000000,298.000000,1714.000000,0.000000,118.000000
25%,2016.000000,63.000000,631.250000,3027.250000,2.000000,243.500000
50%,2018.000000,91.500000,816.000000,3938.000000,4.000000,337.000000
75%,2020.000000,123.750000,962.500000,5755.750000,7.000000,465.000000
max,2022.000000,297.000000,1765.000000,11409.000000,17.000000,781.000000

In [7]:
#checking basic info for dataset and each column, education dataset first
education_data_pd.describe()

,year,Total amount of schools,Total amount of Students,Total amount of student attending regularly,Mean household income,Participation in ECE(early childhood education)
count,144.000000,108.000000,108.000000,144.000000,95.000000,108.000000
mean,2018.000000,182.583333,52216.333333,24485.014646,97417.645614,16171.768519
std,2.591001,93.899442,57362.680669,34992.301305,18537.215247,12294.976168
min,2014.000000,83.000000,6064.000000,0.000000,66248.000000,3354.000000
25%,2016.000000,126.000000,16431.500000,2165.319000,83349.000000,7733.250000
50%,2018.000000,149.000000,30226.500000,12284.099500,94207.000000,13851.500000
75%,2020.000000,214.500000,67850.500000,31092.127500,106600.000000,19168.250000
max,2022.000000,433.000000,244549.000000,159032.139000,151179.000000,54040.000000

In [8]:
#drop the unnecessary column
crime_data=crime_data.drop("Total amount of harmful digital communication offense")
crime_data.show()

+--------------+----+-----------------------------------+-------------------------------------+-----------------------------------+------------------------------------+
|        Region|year|Total amount of convicted juveniles|Total amount of family violence cases|Total amount of people with charges|Total amount of drugs offences cases|
+--------------+----+-----------------------------------+-------------------------------------+-----------------------------------+------------------------------------+
|     Northland|2014|                                123|                                  692|                               4335|                                 339|
|     Northland|2015|                                138|                                  817|                               4528|                                 341|
|     Northland|2016|                                117|                                  772|                               4435|                                 403|
|     Northland|2017|                                114|                                  695|                               3964|                                 326|
|     Northland|2018|                                102|                                  633|                               3937|                                 344|
|     Northland|2019|                                 63|                                  722|                               3476|                                 359|
|     Northland|2020|                                 69|                                  752|                               3719|                                 362|
|     Northland|2021|                                 66|                                  640|                               3092|                                 242|
|     Northland|2022|                                 75|                                  648|                               3217|                                 236|
|      Auckland|2014|                                123|                                  885|                               7870|                                 781|
|      Auckland|2015|                                120|                                  902|                               7398|                                 723|
|      Auckland|2016|                                 87|                                  961|                               7472|                                 669|
|      Auckland|2017|                                 78|                                  851|                               6806|                                 741|
|      Auckland|2018|                                 66|                                  859|                               7149|                                 671|
|      Auckland|2019|                                 63|                                  898|                               6169|                                 655|
|      Auckland|2020|                                 69|                                  929|                               5889|                                 638|
|      Auckland|2021|                                 72|                                  711|                               4113|                                 468|
|      Auckland|2022|                                 87|                                  944|                               5968|                                 530|
|South Auckland|2014|                                291|                                 1422|                              11409|                                 632|
|South Auckland|2015|                                297|                                 1484|                              10484|                                 565|
+--------------+----+-----------------------------------+-------------------------------------+-----------------------------------+------------------------------------+
only showing top 20 rows

In [30]:
#3.2 Data cleaning
#3.2.1 Missing value
def calculate_mean_values(dataframe, exclude_columns):
    dataframe = dataframe.fillna(0)
    mean_values = dataframe.agg(
        *[avg(col(column)).alias(column) for column in dataframe.columns if column not in exclude_columns]
    ).first().asDict()
    return mean_values

def replace_missing_values_with_mean(dataframe, exclude_columns):
    mean_values = calculate_mean_values(dataframe, exclude_columns)
    dataframe = dataframe.fillna(mean_values)
    return dataframe


exclude_columns=["Region","Year"]

crime_data=replace_missing_values_with_mean(crime_data, exclude_columns)
education_data=replace_missing_values_with_mean(education_data, exclude_columns)

crime_data_2_pd=crime_data.toPandas()
education_data_2_pd=education_data.toPandas()

record_crime_data_1=crime_data_2_pd.isna()
record_education_data_1=education_data_2_pd.isna()

print(counting_missing_value(record_crime_data_1))
print(counting_missing_value(record_education_data_1))

0
0

In [ ]:
#3.2.1 Outliners and Extreme values，import approxQuantile() function to use quantile to define outliners and extreme values
from pyspark.sql.functions import col, expr

def calculate_quantiles(dataframe, quantiles, exclude_columns):
    quantile_values = {}
    for column in dataframe.columns:
        if column not in exclude_columns:
            quantiles_df = dataframe.approxQuantile(column, quantiles, 0.0)
            quantile_values[column] = quantiles_df
    return quantile_values

def replace_outliers_with_mean(dataframe, quantile_values, exclude_columns=[]):
    for column in dataframe.columns:
        if column not in exclude_columns:
            lower_bound = quantile_values[column][0]
            upper_bound = quantile_values[column][1]
            mean_value = dataframe.agg(avg(col(column))).first()[0]
            dataframe = dataframe.withColumn(
                column,
                expr(f"IF({column} < {lower_bound} OR {column} > {upper_bound}, {mean_value}, {column})")
            )
    return dataframe